* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: black;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: black;
    margin-left: 10%;
    font-weight: bold;
}

fieldset {
    border: 0;
}

body {
    background-color: #5f7377;
    font-family: sans-serif;
    font-size: 1em;
    color: #292829;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,
select,
textarea,
button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #292829;
    display: block;

}

fieldset .grupo .campo {
    float: left;
    margin-right: 1em;

}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="date"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #292829;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;

}

.campo input:focus,
.campo select:focus,
textarea:focus {
    background-color: #e0e0f8;
}

.botao {
    font-size: 1.2em;
    background: #292829;
    border: solid 2px #e0e0f8;
    margin-bottom: 1em;
    color: #e0e0f8;
    padding: 7px 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 73%;
    left: 45.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: all 0.5s ease;
}

.botao:hover {
    border-radius: 15px;
    text-shadow: 0 0 12px #e0e0f8;
    box-shadow: 0 0 12px 1px #e0e0f8;
}

#check {
    display: inline-block;
}