body{
    background-color: rgb(176, 175, 182);
    
}
#titulo{
    color: rgb(14, 2, 53);
    font-size: xx-large;
    font-family: serif;
    margin-top: 2%;
    margin-left: 42%;
}
#subtitulo{
    margin-left: 42%;
    font-style: italic;
    font-size: large;
    font-family: serif;
    margin-top: 3%;
    color: rgb(3, 3, 3);
}

#imagem{
    margin-top: 2%;
    margin-left: 40%;
    justify-content: center;
    width: 250px;
    border-style: ridge;
    border-color: rgb(57, 6, 87);
}

.botaosm{
    background :#c5b8af;
    margin-top: 2%;
    margin-left: 43%;
}
.botaoca{
    background :#c5b8af;
    margin-top: 2%;
    margin-left: 47%;
    transform: translate(-50%,-50%);

}